@import 'vars';

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: -10;

  &--show {
    display: block;
    z-index: 9;
  }
}
